<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y86 Sim</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="y-86">
        <v-app light>

            <div id="dropZone" @dragover.stop.prevent="handleDragOver" @drop.stop.prevent="handleFileSelect" v-if="uploadAllowed">
                <img id="dropBackground" src="/static/bkgd.gif">

                </img>
            </div>

            <div id="showResult" v-if="!uploadAllowed">
                <button @click="renderNext">
                    render next
                </button>
                <button @click="renderPrevious">
                    render previous
                </button>
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        <v-flex xs1 v-for="(val, name) in Control" :name="name" :val="val">
                            <v-card>
                                <h4>{{ name }}</h4>
                                {{ val }}
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs1 v-for="(val, name) in Fetch" :name="name" :val="val">
                            <v-card>
                                <h4>{{ name }}</h4>
                                {{ val }}
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs1 v-for="(val, name) in Decode" :name="name" :val="val">
                            <v-card>
                                <h4>{{ name }}</h4>
                                {{ val }}
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs1 v-for="(val, name) in Execute" :name="name" :val="val">
                            <v-card>
                                <h4>{{ name }}</h4>
                                {{ val }}
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs1 v-for="(val, name) in Memory" :name="name" :val="val">
                            <v-card>
                                <h4>{{ name }}</h4>
                                {{ val }}
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs1 v-for="(val, name) in WriteBack" :name="name" :val="val">
                            <v-card>
                                <h4>{{ name }}</h4>
                                {{ val }}
                            </v-card>
                        </v-flex>
                    </v-layout>

                </v-container>
            </div>
        </v-app>

    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>


    <script>
        Vue.component('page', {
            template: '#page'
        })
        new Vue({
            el: '#y-86',
            data: {
                uploadAllowed: true,
                result: null,
                info: "you can not see me!",
                cyc: 0,
                Fetch: {},
                Decode: {},
                Execute: {},
                Memory: {},
                WriteBack: {},
                Control: {}
            },
            methods: {
                handleDragOver: function (evt) {
                    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
                },
                handleFileSelect: function (evt) {
                    var self = this;
                    var files = evt.dataTransfer.files; // FileList object.
                    // files is a FileList of File objects. List some properties.
                    var output = "";
                    for (var i = 0, f; f = files[i]; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            // console.log(e.target.result);
                            $.post('/upload', { 'instrCode': e.target.result },
                                function (result) {
                                    //    console.log(result);
                                    self.result = result;
                                    window.result = result;
                                }, 'json'
                            ).done(function () {
                                self.uploadAllowed = false;
                            });
                        };
                        reader.readAsText(f);
                    }
                },

                renderNext: function () {
                    this.cyc++;
                    var data = this.result[this.cyc];
                    console.log(data);
                    this.Fetch = data.F;
                    this.Decode = data.D;
                    this.Execute = data.E;
                    this.Memory = data.M;
                    this.WriteBack = data.W;
                    this.Control = data.control;
                },
                renderPrevious: function () {
                    this.cyc--;
                    var data = this.result[this.cyc];
                    console.log(data);
                    this.Fetch = data.F;
                    this.Decode = data.D;
                    this.Execute = data.E;
                    this.Memory = data.M;
                    this.WriteBack = data.W;
                    this.Control = data.control;
                },
            }
        });
    </script>
</body>

</html>